* {
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}

#gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 50px, 1fr);
  grid-template-areas:
    "nav nav nav"
    "main main main";
}

.nav {
  grid-area: nav;
  background-color: rgb(187, 170, 115);
}

.main {
  grid-area: main;
  background-color: rgb(177, 150, 92);
}

.bookCard {
  width: auto;
  background-color: rgb(156, 125, 63);
  border: white solid 2px;
  border-radius: 5px;
  margin: 5px;
}

.bookCard img {
  width: 100px;
}
.bookCard button {
  margin: 5px;
}
